
@{
    ViewBag.Title = "User";
}

<div class="jumbotron">
    <h1>Force Logout</h1>
    <p class="lead">This application demonstrate how to implement force logout using SignalR.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">for complete tutorial &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>This is User's Page</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>

